.MoreInfo {
  opacity: 0; /* Hidden by default */
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Smooth transition */
}

.video-card:hover .MoreInfo {
  opacity: 1;
  visibility: visible;
}
